
.home-pages{
    position: relative;
    top: 50px;

    h2{
        text-align: center;
    }
}  

.about-box{
    padding: 10px 30px 50px 20px;
    border-radius: 50px;

    h2{
        text-align: center;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
    }
    p{
        color: rgba(0, 0, 0, 0.4);
    }
}
