/* This fires as soon as the element enters the dorm */
.list-transition-enter,
.list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  top: 0;
}
/* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
  top: 45px;
  transition: all 600ms;
}

/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
  top: 45px;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: 0;
  transition: all 600ms;
}
